@tailwind base;
@tailwind components;
@tailwind utilities;

/* Navigation links */
.nav-link {
    @apply text-gray-700 hover:text-yellow-600 transition font-medium;
}

.nav-link.active {
    @apply text-yellow-600 font-semibold border-b-2 border-yellow-600 pb-1;
}